

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    }




.header {

    display: flex;
    flex: 0 0 content;
    justify-content: space-between;
    align-items: center;
    margin: 15px 125px 0px 125px;

    padding: 10px;


}

.header_nav ul {

    display: flex;
    justify-content: space-between;
    margin: 20px;

    width: 327px;
    height: 32px;
    padding: 10px;


}

.header_nav li {

    font-family: 'DM Sans', sans-serif;
    font-size: 15px;
    line-height: 18px;


    color: #696871;
    list-style-type: none;


    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nav_item a {
    text-decoration: none;
    color: #696871;

}


.header_buttom {
    width: 211px;
    height: 60px;

    background: #FF7143;
    border: #FF7143;
    border-radius: 10px;
    cursor: pointer;
}

.section_subscription {

    display: flex;
    flex: 0 0 content;
    justify-content: space-between;
    align-items: center;
    margin: 0px 125px;
    padding: 15px;

}

.subscription_image img {
    width: 40vw;
    height: 644px;

}

.subscription {
    width: 459px;
    height: 461px;
}

.subscription h1 {
    font-family: 'DM Sans', sans-serif;
    font-size: 80px;
    line-height: 77px;

    letter-spacing: -2.50105px;

    color: #19191B;

}

.subscription p {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;


    letter-spacing: -0.625263px;

    color: #696871;
}

.main_buttom {
    width: 211px;
    height: 60px;
    margin-top: 10px;


    cursor: pointer;
    background: #5454D4;
    border: #5454D4;
    border-radius: 10px;
    color: white;
}

.icon {

    display: flex;
    flex: 0 0 content;
    justify-content: space-around;
    align-items: center;
    margin: 0px 125px 0px 125px;
    padding: 20px;

}

.benchmarks p {
    font-family: 'DM Sans', sans-serif;
    font-size: 24px;
    line-height: 36px;


    text-align: center;
    letter-spacing: -0.750316px;

    color: #19191B;
}

.pricing p {
    font-family: 'DM Sans', sans-serif;
    font-size: 24px;
    line-height: 36px;


    text-align: center;
    letter-spacing: -0.750316px;

    color: #19191B;

}

.retention p {
    font-family: 'DM Sans', sans-serif;
    font-size: 24px;
    line-height: 36px;


    text-align: center;
    letter-spacing: -0.750316px;

    color: #19191B;

}

.retention img {
    width: 154px;
    height: 97px;
}

.pricing img {
    width: 154px;
    height: 97px;
}

.benchmarks img {
    width: 154px;
    height: 97px;
}

.product {
    margin: 0px 125px 0px 125px;
    padding: 20px;

}

.product_h2 {

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 0px;

}

.product_h2 h2 {
    width: 523px;
    height: 140px;
    font-family: 'DM Sans', sans-serif;
    font-size: 60px;
    line-height: 70px;


    letter-spacing: -1.87579px;

    color: #19191B;

}

.button_set {

    display: flex;
    width: 365px;
    height: 65px;
}

.button1,
.button2 {
    width: 365px;
    height: 65px;
    border-radius: 5px;
}

.button1 {
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: -0.500211px;

    color: #FFFFFF;

    background: #5454D4;
    border: #5454D4;
    cursor: pointer;

}

.button2 {
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: -0.500211px;
    background-color: #F8F8F8;
    border: white;

    color: #19191B;
    cursor: pointer;
}

.rate {
    display: flex;
    justify-content: space-around;
    flex: 0 0 content;
   

}

.rate1 {
    background-color: #F8F8F8;
    /* width: 20vw; */
    margin-top: 15px;
    border-radius: 10px;
}

.rate1 h3 {
    font-family: 'DM Sans', sans-serif;
    font-size: calc(24px + 16 * (100vw / 1280));
    line-height: 56px;


    text-align: center;
    letter-spacing: -1.03448px;

    color: #1D293F;

}

.rate1 p {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 50px;
  
    text-align: center;
    letter-spacing: -0.531474px;

    color: #696871;

}

.rate2 {
    background-color: #FF7143;
    /* width: 30vw; */
    border-radius: 10px;
}

.rate2 h3 {
    font-family: 'DM Sans', sans-serif;
    font-size: calc(10px + 40 * (100vw / 1280));
    line-height: 56px;


    text-align: center;
    letter-spacing: -1.03448px;

    color: #FFFFFF;
}

.rate2 p {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 50px;
    text-align: center;
    letter-spacing: -0.531474px;

    color: #FFFFFF;

}

.rate3 {
    background-color: #F8F8F8;
    /* width: 20vw; */
    margin-top: 15px;
    border-radius: 10px;
}

.rate3 h3 {
    font-family: 'DM Sans', sans-serif;
    font-size: calc(10px + 40 * (100vw / 1280));
    line-height: 56px;


    text-align: center;
    letter-spacing: -1.03448px;

    color: #1D293F;
}

.rate3 p {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 50px;


    text-align: center;
    letter-spacing: -0.531474px;

    color: #696871;

}

.ratebutton {
    width: 15vw;
    height: 10vh;
    margin-left: 30px;
    margin-bottom: 10px;
    background: white;
    border: white;
    color: #5454D4;
    cursor: pointer;
}

.buttonrate2 {
    width: 15vw;
    height: 10vh;
    margin-left: 90px;
    margin-top: 15px;
    background: #8c3c21;
    border-radius: 10px;
    border: #8c3c21;
    color: white;
    cursor: pointer;
}

@media screen and (max-width: 767px) {

    .menu-burger__header {
        position: relative;
        width: 40px;
        height: 35px;
        display: block;

    }

    .menu-burger__header span,
    .menu-burger__header:after,
    .menu-burger__header:before {
        height: 3px;
        width: 100%;
        position: absolute;
        background: #FF7143;
        margin: 0 auto;
    }

    .menu-burger__header span {
        top: 11px;
    }

    .menu-burger__header:after,
    .menu-burger__header:before {
        content: '';
    }

    .menu-burger__header:after {
        bottom: 14px;
    }

    .menu-burger__header:before {
        top: 5px;
    }



    .header {

        width: 100%;
        flex-direction: row-reverse;
        align-items: flex-start;
        height: 100px;
        padding: 10px;
        margin-left:auto;
        margin-right: auto;
    }

    .header_nav {
        display: none;
    }

    .header_buttom {
        display: none;
    }

    .section_subscription {

        width: 100%;
        flex-direction: column;
        margin-left:auto;
        margin-right: auto;



    }

    .subscription_image img {
        display: none;
    }


    .subscription h1 {
        margin-top: 5px;
        margin-left: 30px;
        margin-bottom: 5px;
        padding: 10px;
        width: 400px;


    }

    .subscription p {
        margin-top: 0px;
        margin-left: 30px;
        padding: 10px;
        font-weight: 30px;
        width: 400px;
    }

    .main_buttom {
        margin-top: 5px;
        margin-left: 30px;
        padding: 10px;


    }

    .icon {

        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding: 10px;
        margin-left:auto;
     margin-right: auto;

    }

    .rate {

        flex-direction: column;
        justify-content: center;

        margin-top: 25px;
  
    }

    .product {

        
        margin-left:auto;
        margin-right: auto;
    }

    .product_h2 {

        flex-direction: column;
        width: 70vw;
       


    }

    .product_h2 h2 {
        margin-top: 5px;
        font-size: 40px;
        margin-left:auto;
        margin-right: auto;

    }


}



@media screen and (min-width: 768px) and (max-width: 1023px) {
    .header_buttom {
        display: none;
    }

    .header {

        width: 740px;

        justify-content: space-around;

    }

    .section_subscription {


        width: 740px;
        padding: 50px;

    }

    .product_h2 {

        flex-direction: column;

        width: 100%;
        margin-left: 100px;

        margin-bottom: 50px;
    }

}

@media screen and (min-width: 1024px) {
    .header {
        margin: 0 auto;
    }

}
